<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:C:\Users\andre\Documents\Facultate\An3\Licentaa\medical-appointment</property>

        <property name="show_sql">false</property>
        <property name="format_sql">true</property>
        <mapping class="com.project.model.User"/>
        <mapping class="com.project.model.Doctor"/>
        <mapping class="com.project.model.Patient"/>
        <mapping class="com.project.model.Appointment"/>
        <mapping class="com.project.model.Specialty"/>
        <mapping class="com.project.model.Qualification"/>
        <mapping class="com.project.model.Affiliation"/>
        <mapping class="com.project.model.Review"/>
    </session-factory>
</hibernate-configuration>